@page "/"
@inject IDbContextFactory<ApplicationDbContext> dbfactory


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (customers is null)
{
    <p>Loading Customers...</p>
}
else
{
    foreach(Customer c in customers)
    {
        <p>@c.Name</p>
    }
}

@code{
    private List<Customer> customers = null!;

    protected override async Task OnInitializedAsync() 
    {
        var context = dbfactory.CreateDbContext();
        customers = await context.Customers.ToListAsync();
    }
}